.custom-card {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%; 
}

.custom-option {
  cursor: pointer
}

h1, h4{
  text-align-last: center;
}

.custom-footer {
  text-align-last: center;
  margin-bottom: 30px;
}

.custom-spinner {
  text-align-last: center;
  margin-top: 20px;
}

.custom-button {
  text-align-last: center;
  margin-bottom: 50px;
}

input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1.4em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 1.3em;
  margin-right: 1.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

.footer {
  position: fixed;
  left: 0;
  bottom: -10px;
  width: 100%;
  background-color: rgb(208, 205, 205);
  color: black;
  text-align: center;
}

.answer-text{
  font-family: inherit;
  font-size: x-large;
}

.result-head{
  font-size: x-large;
}